<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Horizon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="True" bypassonlocal="True"  />
      <bypasslist/>
      <module/>
    </defaultProxy>
  </system.net>
  <userSettings>
    <Horizon.Properties.Settings>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoginUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="GameAdder" serializeAs="String">
        <value />
      </setting>
      <setting name="Backup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StyleType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SafeMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Dev" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProfileCache" serializeAs="String">
        <value />
      </setting>
      <setting name="ProfileCacheCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="Docked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeviceSize" serializeAs="String">
        <value>1675037245986</value>
      </setting>
    </Horizon.Properties.Settings>
  </userSettings>
</configuration>